$background-color: #ffffff;
$primary: #fec694;
$secondary: #80d4e5;
$tertiary: #ec5d56;

div {
  background-color: $background-color;
}

a:hover {
  color: $tertiary;
}

h1 {
  font-size: xx-large;
}
h2 {
  font-size: x-large;
}
h3 {
  font-size: larger;
}
h4 {
  font-size: large;
}

.debug {
  border: 2px solid red;
}

.background {
  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-tertiary {
    background-color: $tertiary;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-variant-numeric: lining-nums tabular-nums;
}
